/**
* Header styles
**/

header {
  margin-bottom: 75px;

  .header-navigation {
    padding: 20px 0;
    box-shadow: 0 3px 2px rgba(225,225,225,.75);
    background-color: #fff;
    border-color: transparent;
    min-height: 0;
  }
}